{:paths       ["src"]
 :deps        {org.clojure/clojure               {:mvn/version "1.11.1"}
               io.github.clojure/tools.build     {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
               com.google.protobuf/protobuf-java {:mvn/version "3.20.1"}
               babashka/fs                       {:mvn/version "0.1.6"}}
 :tools/usage {:ns-default spootnik.deps-proto}}
